body {
  margin: 0;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: black
}

#quil-explore {
  margin: auto;
  padding: 0;
  width: 500px;
  height: 500px;
  display: block;
}
